
<%- include('partials/courseDetailsHeader.ejs') %>
<div class="CourseName">

    <h3>Object Oriented Programming</h3>
</div>

<div class="ContentContainer">
    <div class="threeButtons">
        <button id="courseContent"><a href="#" > View Course Content </a> </button>
          
    </div>
      
    <div class="threeButtons">
          <button id="previousQuestion"><a href="#">Previous Question </a></button>
    </div>
      
    <div class="threeButtons">
        <button id="previousExperiences"><a href="#">Previous Experiences</a></button>
    </div>
</div>

<div>
    <h1 class="ml7">
        <span class="text-wrapper">
          <span class="letters">Here is Your Tutor Point</span>
        </span>
      </h1>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="tutorPointButton">
    <button id="tutorBtn"><a href="/Tutor">Tutor Point</a> </button>
</div>

<div class="instractorButton">
    <p>Start Teaching Today !</p>
    <p>Best students from around the university teach hundreds of students on this platform. We provide the tools and skills to teach what you love.</p>
    <button id="insBtn"><a href="/instractor">Become An Instractor</a> </button>
</div>
<%- include('partials/courseDetailsFooter.ejs') %>