

body{
    background-color: rgb(230, 241, 180);
 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
input{
  text-decoration: none;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image{
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  background-color: rgb(235, 227, 163);
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  text-align: center;
}

#header{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 10px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
    
}

.catagories{
    margin-top: 50px;
    margin-left: 20px;
 
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 400px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

#foundation{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    background-color: yellow;
}

#major{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    background-color:white;
}

#minor{
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    background-color: yellow;
}

#foundation:hover {background-color: #8ce714}

#foundation:active {
  background-color: #e77911;
  box-shadow: 0 5px rgb(214, 24, 24);
  transform: translateY(4px);
}
#major:hover {background-color: #8ce714}

#major:active {
  background-color: #e77911;
  box-shadow: 0 5px rgb(214, 24, 24);
  transform: translateY(4px);
}
#minor:hover {background-color: #8ce714}

#minor:active {
  background-color: #e77911;
  box-shadow: 0 5px rgb(214, 24, 24);
  transform: translateY(4px);
}


input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    padding-right:350px;
    padding-left: 5px;
    margin-left: 30px;
  }
.search-container button {
 
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

.threeButtons{
      margin-top: 30px;
      margin-left: 30px;
  }

#allCourses{
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: yellow;
}

#tutorsPoint{
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
  }

#makeRoutine{
  text-decoration: none;
 
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: yellow;
}
#allCourses:hover{
    background-color: #8ce714;

}
#allCourses:active {
    background-color: #e77911;
    box-shadow: 0 5px rgb(214, 24, 24);
    transform: translateY(4px);
}

#tutorsPoint:hover{
    background-color: #8ce714;

}
#tutorsPoint:active {
    background-color: #e77911;
    box-shadow: 0 5px rgb(214, 24, 24);
    transform: translateY(4px);
}

#makeRoutine:hover{
    background-color: #8ce714;

}
#makeRoutine:active {
    background-color: #e77911;
    box-shadow: 0 5px rgb(214, 24, 24);
    transform: translateY(4px);
}

.profile{
    height: 100px;
    width: 100px;
    float: right;
    background-color: yellow;
    margin-right: 40px;
    margin-top: 40px;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainBody{
  margin-top: 30px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 30px;
  color: #402d2d;
  text-align: center;
  font-weight: bold;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}



/**********************************************  Course Name and Code css  **********************************************/


.CourseName{
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
  margin-right: 40px;
  height: 60px;
  width: 1250px;
  background-color: #ebd767;
  font-weight: bold;
  border-radius: 10px;
}

#courseContent{
  width: 250px;
  height: 30px;
  font-weight: bold;
  background-color: rgb(111, 206, 235);
}

#courseContent:hover{
  background-color: #e9ec0b;
}

#previousQuestion{
  width: 250px;
  height: 30px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#previousQuestion:hover{
  background-color: #f5b4ef;
}

#previousExperiences{
  width: 250px;
  height: 30px;
  font-weight: bold;
  background-color: rgb(111, 206, 235);
}

#previousExperiences:hover{
  background-color: #e9ec0b;
}

.ContentContainer{
  margin-left: 50px;
}

.ml7 {
  position: relative;
  font-weight:bold;
  font-size: 30px;
  margin-left: 550px;
  margin-top: 50px;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.tutorPointButton{
  margin-left: 590px;
}

#tutorBtn{
  width: 250px;
  height: 30px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
#tutorBtn:hover{
    background-color: #8ce714;
}


/**********************************************  Sign In  *********************/

.headFromSignUp{
  font-size: 40px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(13, 212, 238);
  text-shadow: 3px 3px #FF0000;
}

.lowerPart{
  margin-top: 30px;
}

#login{
  margin-left: 560px;
  height: 30px;
  width: 100px;
}
#createAccount{
  height: 30px;
  width: 150px;

}
#forgetPassword{
  margin-top: 120px;
  margin-left: 570px;
  height: 30px;
  width: 250px;
}

.upper{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 370px;
}

input[type=password] {
  padding: 6px;
  margin-top: 10px;
  font-size: 17px;
  border: none;
  padding-right:350px;
  padding-left: 5px;
  margin-left: 30px;
}

video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
h3{
  font-size: 30px;
}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  background: rgba(0,0,0,0);

}


/**********************************************  Routine   *********************/

#courseTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 120px;
  margin-left: 120px;
}

#courseTable td, #courseTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#courseTable tr:nth-child(even){background-color: #f2f2f2;}

#courseTable tr:hover {background-color: #ddd;}
#courseTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*makeCourseContent.ejs  ........................
*/
.entity{
  margin: 10px;
}

.ContentName{
  margin-left: 300px;
  font-size: medium;
  height: 20px;
  width: 200px;
}
#new{
  font-size: medium;
}

/*Course Tutorial....................
*/
.CourseTutorial{
  height: 90px;
  width: 500px;
  background-color: #a7a7a7;
  margin-left: 410px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
  
}

/*Instractor......*/
.instractorButton{
  margin-top: 20px;
  height: 200px;
  width: 320px;
  background-color: #a7a7a7;
  margin-left: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
}

#insBtn{
  width: 180px;
  height: 30px;
  font-weight: bold;
  background-color: #ebd767;
}